[submodule "pack/ghostmonk/start/vim-airline"]
	path = pack/ghostmonk/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/ghostmonk/start/vim-eunuch"]
	path = pack/ghostmonk/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "pack/ghostmonk/start/nerdtree"]
	path = pack/ghostmonk/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/ghostmonk/start/emmet"]
	path = pack/ghostmonk/start/emmet
	url = https://github.com/mattn/emmet-vim
[submodule "pack/ghostmonk/start/gitgutter"]
	path = pack/ghostmonk/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter
